/*@include html5-boilerplate;*/
/* line 27, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 38, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 42, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
nav ul {
  list-style: none;
}

/* line 44, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 47, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 49, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 51, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 53, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 55, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 57, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 61, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 63, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 65, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_fonts.scss */
body {
  font-size: 13px;
  font-family: sans-serif;
  line-height: 1.231;
  *font-size: small;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_fonts.scss */
select, input, textarea, button {
  font: 99% sans-serif;
}

/* line 29, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_fonts.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 16, ../../../app/stylesheets/partials/_example.scss */
body, select, input, textarea {
  color: #444444;
}

/* line 18, ../../../app/stylesheets/partials/_example.scss */
html {
  overflow-y: scroll;
}

/* line 20, ../../../app/stylesheets/partials/_example.scss */
a, a:active, a:visited {
  color: #607890;
}

/* line 21, ../../../app/stylesheets/partials/_example.scss */
a:hover {
  color: #003366;
}

/* line 23, ../../../app/stylesheets/partials/_example.scss */
ul, ol {
  margin-left: 1.8em;
}

/* line 24, ../../../app/stylesheets/partials/_example.scss */
ol {
  list-style-type: decimal;
}

/* line 26, ../../../app/stylesheets/partials/_example.scss */
td, td img {
  vertical-align: top;
}

/* line 28, ../../../app/stylesheets/partials/_example.scss */
sub {
  vertical-align: sub;
  font-size: smaller;
}

/* line 30, ../../../app/stylesheets/partials/_example.scss */
sup {
  vertical-align: super;
  font-size: smaller;
}

/* line 62, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
a:hover, a:active {
  outline: none;
}

/* line 67, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 79, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 80, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 81, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 82, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 87, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* line 99, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
::-moz-selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 100, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
::selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 105, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
a:link {
  -webkit-tap-highlight-color: #ff5e99;
}

/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
button {
  width: auto;
  overflow: visible;
}

/* line 120, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 122, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 127, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
nav ul, nav li {
  margin: 0;
}

/* line 52, ../../../app/stylesheets/partials/_example.scss */
.ir {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  direction: ltr;
  background-repeat: no-repeat;
}

/* line 54, ../../../app/stylesheets/partials/_example.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 56, ../../../app/stylesheets/partials/_example.scss */
.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 58, ../../../app/stylesheets/partials/_example.scss */
.clearfix {
  *zoom: 1;
}
/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

@media print {
  /* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_media.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
  }

  /* Black prints faster: sanbeiji.com/archives/953 */
  /* line 25, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_media.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 26, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 27, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 28, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_media.scss */
  .ir a:after {
    content: "";
  }

  /* Don't show links for images */
  /* line 29, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_media.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 30, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_media.scss */
  thead {
    display: table-header-group;
  }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  /* line 31, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_media.scss */
  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  /* line 33, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_media.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 34, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_media.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}

@media all and (orientation:portrait) {}
@media all and (orientation:landscape) {}
@media screen and (max-device-width: 480px) {}
/* line 9, ../../../app/stylesheets/partials/_page.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 15, ../../../app/stylesheets/partials/_page.scss */
strong, th {
  font-weight: bold;
}

/* line 19, ../../../app/stylesheets/partials/_page.scss */
small {
  font-size: 85%;
}

/* line 28, ../../../app/stylesheets/partials/_page.scss */
input:invalid, textarea:invalid {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
  -khtml-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: red 0 0 5px 0;
  -webkit-box-shadow: red 0 0 5px 0;
  -o-box-shadow: red 0 0 5px 0;
  box-shadow: red 0 0 5px 0;
}

/* line 33, ../../../app/stylesheets/partials/_page.scss */
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* line 39, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #444444;
  font-size: 75%;
}

/* line 65, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #333333;
}
/* line 66, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 67, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}

/* line 68, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

/* line 69, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}

/* line 70, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

/* line 71, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}

/* line 72, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 73, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p {
  margin: 0 0 1.5em;
}
/* line 74, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 75, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

/* line 77, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
a {
  text-decoration: underline;
  color: #607890;
}
/* line 18, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:visited {
  color: #607890;
}
/* line 21, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:focus {
  color: #003366;
}
/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:hover {
  color: #003366;
}
/* line 27, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:active {
  color: #607890;
}

/* line 78, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}

/* line 79, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
strong {
  font-weight: bold;
}

/* line 80, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
em {
  font-style: italic;
}

/* line 81, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dfn {
  font-style: italic;
  font-weight: bold;
}

/* line 82, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
sup, sub {
  line-height: 0;
}

/* line 83, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #666666;
}

/* line 84, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 85, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
del {
  color: #666666;
}

/* line 86, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 87, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 88, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
li ul, li ol {
  margin: 0;
}

/* line 89, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}

/* line 90, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul {
  list-style-type: disc;
}

/* line 91, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ol {
  list-style-type: decimal;
}

/* line 92, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl {
  margin: 0 0 1.5em 0;
}
/* line 93, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl dt {
  font-weight: bold;
}

/* line 94, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dd {
  margin-left: 1.5em;
}

/* line 95, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

/* line 96, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th {
  font-weight: bold;
}

/* line 97, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
thead th {
  background: #c3d9ff;
}

/* line 98, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th, td, caption {
  padding: 4px 10px 4px 5px;
}

/* line 99, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tr.even td {
  background: #e5ecf9;
}

/* line 100, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tfoot {
  font-style: italic;
}

/* line 101, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
caption {
  background: #eeeeee;
}

/* line 102, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.quiet {
  color: #777777;
}

/* line 103, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.loud {
  color: #222222;
}

/* line 44, ../../../app/stylesheets/partials/_page.scss */
#container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 48, ../../../app/stylesheets/partials/_page.scss */
header {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 138, ../../../../../../.rvm/gems/ruby-1.9.2-p0@kwizzer/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html header {
  overflow-x: hidden;
}

/* -------------------------------------------------------------------------------------------------

It's *strongly* suggested that you don't modify this file.  Instead, load a new stylesheet after
this one in your layouts (eg formtastic_changes.css) and override the styles to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

This stylesheet forms part of the Formtastic Rails Plugin
(c) 2008 Justin French

--------------------------------------------------------------------------------------------------*/
/* NORMALIZE AND RESET - obviously inspired by Yahoo's reset.css, but scoped to just form.formtastic
--------------------------------------------------------------------------------------------------*/
/* line 15, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic, form.formtastic ul, form.formtastic ol, form.formtastic li, form.formtastic fieldset, form.formtastic legend, form.formtastic input, form.formtastic textarea, form.formtastic select, form.formtastic p {
  margin: 0;
  padding: 0;
}

/* line 16, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic fieldset {
  border: 0;
}

/* line 17, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic em, form.formtastic strong {
  font-style: normal;
  font-weight: normal;
}

/* line 18, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic ol, form.formtastic ul {
  list-style: none;
}

/* line 19, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic abbr, form.formtastic acronym {
  border: 0;
  font-variant: normal;
}

/* line 20, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic input, form.formtastic textarea, form.formtastic select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* line 21, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic input, form.formtastic textarea, form.formtastic select {
  font-size: 100%;
}

/* line 22, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic legend {
  white-space: normal;
  color: #000;
}

/* SEMANTIC ERRORS
--------------------------------------------------------------------------------------------------*/
/* line 27, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic ul.errors {
  color: #cc0000;
  margin: 0.5em 0 1.5em 25%;
  list-style: square;
}

/* line 28, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic ul.errors li {
  padding: 0;
  border: none;
  display: list-item;
}

/* FIELDSETS & LISTS
--------------------------------------------------------------------------------------------------*/
/* line 33, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic fieldset {
  overflow: auto;
}

/* clearing contained floats */
/* line 35, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic fieldset.buttons {
  padding-left: 25%;
}

/* line 37, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic fieldset.buttons li {
  float: left;
  padding-right: 0.5em;
}

/* INPUT LIs
--------------------------------------------------------------------------------------------------*/
/* line 41, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic fieldset > ol > li {
  padding: 0.5em 0;
  margin-top: -0.5em;
  margin-bottom: 1em;
}

/* padding and negative margin juggling is for Firefox */
/* line 42, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic fieldset > ol > li {
  overflow: auto;
}

/* clearing contained floats */
/* LABELS
--------------------------------------------------------------------------------------------------*/
/* line 51, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic fieldset > ol > li label {
  display: block;
  width: 25%;
  float: left;
  padding-top: .2em;
}

/* line 52, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic fieldset > ol > li > li label {
  line-height: 100%;
  padding-top: 0;
}

/* line 53, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic fieldset > ol > li > li label input {
  line-height: 100%;
  vertical-align: middle;
  margin-top: -0.1em;
}

/* NESTED FIELDSETS AND LEGENDS (radio, check boxes and date/time inputs use nested fieldsets)
--------------------------------------------------------------------------------------------------*/
/* line 58, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic fieldset > ol > li fieldset {
  position: relative;
}

/* line 59, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic fieldset > ol > li fieldset legend {
  position: absolute;
  width: 95%;
  padding-top: 0.1em;
  left: 0px;
}

/* line 60, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic fieldset > ol > li fieldset legend span {
  position: absolute;
}

/* line 61, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic fieldset > ol > li fieldset legend.label label {
  position: absolute;
}

/* line 62, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic fieldset > ol > li fieldset ol {
  float: left;
  width: 74%;
  margin: 0;
  padding: 0 0 0 25%;
}

/* line 63, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic fieldset > ol > li fieldset ol li {
  padding: 0;
  border: 0;
}

/* INLINE HINTS
--------------------------------------------------------------------------------------------------*/
/* line 68, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic fieldset > ol > li p.inline-hints {
  color: #666;
  margin: 0.5em 0 0 25%;
}

/* INLINE ERRORS
--------------------------------------------------------------------------------------------------*/
/* line 73, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic fieldset > ol > li p.inline-errors {
  color: #cc0000;
  margin: 0.5em 0 0 25%;
}

/* line 74, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic fieldset > ol > li ul.errors {
  color: #cc0000;
  margin: 0.5em 0 0 25%;
  list-style: square;
}

/* line 75, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic fieldset > ol > li ul.errors li {
  padding: 0;
  border: none;
  display: list-item;
}

/* STRING, NUMERIC, PASSWORD, EMAIL, URL, PHONE & SEARCH OVERRIDES
--------------------------------------------------------------------------------------------------*/
/* line 86, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic fieldset > ol > li.string input,
form.formtastic fieldset > ol > li.password input,
form.formtastic fieldset > ol > li.numeric input,
form.formtastic fieldset > ol > li.email input,
form.formtastic fieldset > ol > li.url input,
form.formtastic fieldset > ol > li.phone input,
form.formtastic fieldset > ol > li.search input {
  width: 72%;
}

/* line 94, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic fieldset > ol > li.string input[size],
form.formtastic fieldset > ol > li.password input[size],
form.formtastic fieldset > ol > li.numeric input[size],
form.formtastic fieldset > ol > li.email input[size],
form.formtastic fieldset > ol > li.url input[size],
form.formtastic fieldset > ol > li.phone input[size],
form.formtastic fieldset > ol > li.search input[size] {
  width: auto;
  max-width: 72%;
}

/* TEXTAREA OVERRIDES
--------------------------------------------------------------------------------------------------*/
/* line 99, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic fieldset > ol > li.text textarea {
  width: 72%;
}

/* line 100, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic fieldset > ol > li.text textarea[cols] {
  width: auto;
  max-width: 72%;
}

/* HIDDEN OVERRIDES
--------------------------------------------------------------------------------------------------*/
/* line 105, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic fieldset ol li.hidden {
  display: none;
}

/* BOOLEAN OVERRIDES
--------------------------------------------------------------------------------------------------*/
/* line 109, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic fieldset > ol > li.boolean label {
  padding-left: 25%;
  width: auto;
}

/* line 110, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic fieldset > ol > li.boolean label input {
  margin: 0 0.5em 0 0.2em;
}

/* RADIO OVERRIDES
--------------------------------------------------------------------------------------------------*/
/* line 116, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic fieldset > ol > li.radio fieldset {
  overflow: visible;
}

/* line 117, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic fieldset > ol > li.radio fieldset ol {
  margin-bottom: -0.5em;
}

/* line 118, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic fieldset > ol > li.radio fieldset ol li {
  margin: 0.1em 0 0.5em 0;
  overflow: visible;
}

/* line 119, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic fieldset > ol > li.radio fieldset ol li label {
  float: none;
  width: 100%;
}

/* line 120, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic fieldset > ol > li.radio fieldset ol li label input {
  margin-right: 0.2em;
}

/* CHECK BOXES (COLLECTION) OVERRIDES
--------------------------------------------------------------------------------------------------*/
/* line 126, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic fieldset > ol > li.check_boxes fieldset {
  overflow: visible;
}

/* line 127, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic fieldset > ol > li.check_boxes fieldset ol {
  margin-bottom: -0.5em;
}

/* line 128, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic fieldset > ol > li.check_boxes fieldset ol li {
  margin: 0.1em 0 0.5em 0;
  overflow: visible;
}

/* line 129, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic fieldset > ol > li.check_boxes fieldset ol li label {
  float: none;
  width: 100%;
}

/* line 130, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic fieldset > ol > li.check_boxes fieldset ol li label input {
  margin-right: 0.2em;
}

/* DATE & TIME OVERRIDES
--------------------------------------------------------------------------------------------------*/
/* line 137, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic fieldset > ol > li.date fieldset ol li,
form.formtastic fieldset > ol > li.time fieldset ol li,
form.formtastic fieldset > ol > li.datetime fieldset ol li {
  float: left;
  width: auto;
  margin: 0 .3em 0 0;
}

/* line 141, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic fieldset > ol > li.date fieldset ol li label,
form.formtastic fieldset > ol > li.time fieldset ol li label,
form.formtastic fieldset > ol > li.datetime fieldset ol li label {
  display: none;
}

/* line 145, ../../../app/stylesheets/partials/_formtastic.scss */
form.formtastic fieldset > ol > li.date fieldset ol li label input,
form.formtastic fieldset > ol > li.time fieldset ol li label input,
form.formtastic fieldset > ol > li.datetime fieldset ol li label input {
  display: inline;
  margin: 0;
  padding: 0;
}
