#contact
	%h3 Aliancia Fair-play
	Západný rad 39
	%br
	811 04 Bratislava
	%p tel./fax: +421 2 5564 0131<br />mobil: +421 911 724 189
	%p 
		email: 
		%script(type='text/javascript')
			/ protected email script by Joe Maller
			/ JavaScripts available at http://www.joemaller.com
			/ this script is free to use and distribute
			/ but please credit me and/or link to my site
			emailE=('kvizy@' + 'fair-play.sk');
			document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>');
		%noscript
			%em 
			Email address protected by JavaScript.
			%br
			Please enable JavaScript to contact me.
		%br
		%a(href="http://www.fair-play.sk" target="_blank") www.fair-play.sk
	%p
		%br
		%h3 Iné projekty Aliancie Fair-play
		
		%br
		%a(href="http://www.datanest.sk" target="_blank") www.datanest.sk
		%br
		%a(href="http://www.politikaopen.sk" target="_blank") www.politikaopen.sk
		%br
		%a(href="http://www.bielavrana.sk" target="_blank") www.bielavrana.sk