#center
	#icon_navigation
		#left_icon_navigation
			%a.navigation1 Zdravotníctvo
			%a.navigation2 Kataster
			%a.navigation3 Rutrum
			%a.navigation8 Donec
		#head_gear_wheels
			%div#kolecko1 
			%div#kolecko2 
				=image_tag 'frontend/kolecko_02.png'
			%div#kolecko3
				=image_tag 'frontend/kolecko_03.png'
			%div#kolecko4
				=image_tag 'frontend/kolecko_04.png'
		#right_icon_navigation
			%a.navigation4 Justícia
			%a.navigation5 Ekonómia
			%a.navigation6 Rutrum
			%a.navigation7 Náhodný test
			
#info_zone