#icon_navigation
	#left_icon_navigation
		- if @categories[0..3]
			- @categories[0..3].each_with_index do |category, category_index|
				.navigation{:class=>"navigation#{category_index+1}"}
					= category.short_name
					- category.quizzes.each do |quiz|
						=link_to quiz.name, new_submission_path(:quiz_id => quiz.id)
	#head_gear_wheels
		%div#kolecko1 
		%div#kolecko2 
			=image_tag 'frontend/kolecko_02.png'
		%div#kolecko3
			=image_tag 'frontend/kolecko_03.png'
		%div#kolecko4
			=image_tag 'frontend/kolecko_04.png'
	#right_icon_navigation
		- if @categories[4..7]
			- @categories[4..7].each_with_index do |category, category_index|
				.navigation{:class=>"navigation#{category_index+1}"}
					= category.short_name
					- category.quizzes.each do |quiz|
						=link_to quiz.name, new_submission_path(:quiz_id => quiz.id)
#info_zone
	.info
	.info
	.info