@import "compass/css3";
@import "compass/utilities/tables";
@import "blueprint";
@import "spin";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

h1, h2, h3, h4, h5, h6 {
  // Bold might not be the best choice if you are
  // embedding font faces that are already bold
  font-weight: bold;
}

strong, th {
  font-weight: bold;
}

small {
  // Use font-size mixin to convert to percentage for YUI
  // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
  @include font-size(11px);  // approx 85% when base-font-size eq 13px
}

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
  @include border-radius(1px);
  @include box-shadow(red, 0, 0, 5px, 0);
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


//-----------------------------------
// Add your own custom styles below
//-----------------------------------
/*@include blueprint-typography;*/
h1 {
	font-family: 'Yanone Kaffeesatz', arial, serif; font-weight:400; font-size:50px; color:#3C2415; text-align:center; margin:20px 0px 10px 0px;}
h2 {font-family: 'Yanone Kaffeesatz', arial, serif; font-weight:400; font-size:30px; color:#3C2415; text-align:left; margin:10px 0px 30px 0px;}
h3 {font-family: 'Yanone Kaffeesatz', arial, serif; font-weight:400; font-size:27px; color:#3C2415; text-align:left; margin:0px 0px 0px 0px;}
h4 {
	font-family: "tandelle-1","tandelle-2"; font-size:40px;}

body { background: url($frontend-image-url+"back.png"); 
	font-family: Tahoma, Verdana, Geneva; font-size:13px; color:#8B5E3C;}

#login {
	width:200px; margin:50px auto 70px auto; float:none; overflow:hidden; 
	color:#3C2415; font-size:15px; font-family: 'Yanone Kaffeesatz', arial, serif; font-weight:300;
	.login_input {width:185px; height:30px; padding:0px 5px; background:#fff; border:1px dashed #8B5E3C; font-size:18px; -moz-border-radius:3px; border-radius:3px;}
	.login_input_submit {padding:5px 15px; background:#3C2415; border:none; -moz-border-radius:3px; border-radius:3px; font-size:18px; font-family: 'Yanone Kaffeesatz', arial, serif; font-weight:300; color:#F2CA5C;}
}

#container { @include container;}

header { 
	@include column($blueprint-grid-columns, true); 
	#top_navigation {
		width:1040px; height:40px; margin:0px auto 0px auto;
		a.slovak {width:38px; height:40px; margin:0px 0px 0px 2px; float:right; background:url($frontend-image-url+'button_slovak.png'); opacity: 0.3; -moz-opacity: 0.3; filter:alpha(opacity=30);}
		a.slovak:hover {opacity:1.0; -moz-opacity:1.0; filter:alpha(opacity=100);}
		a.english {width:39px; height:40px; margin:0px 0px 0px 2px; float:right; background:url($frontend-image-url+'button_english.png'); opacity: 0.3; -moz-opacity: 0.3; filter:alpha(opacity=30);}
		a.english:hover {opacity:1.0; -moz-opacity:1.0; filter:alpha(opacity=100);}
		a.login {width:39px; height:40px; margin:0px 0px 0px 2px; float:right; background:url($frontend-image-url+'button_login.png'); opacity: 0.3; -moz-opacity: 0.3; filter:alpha(opacity=30);}
		 a.login:hover {opacity:1.0; -moz-opacity:1.0; filter:alpha(opacity=100);}
	}
	#top {
		@include column($blueprint-grid-columns, true); background: url($frontend-image-url+"top_container.png") repeat-x; height:10px; margin:0 auto 0 auto;}
	#head {
		@include column(21.26, true); margin:0px auto 0px auto; padding: 20px 60px 10px 60px; background: url($frontend-image-url+"back_container.png");
		#logo {
			width:252px; height:70px; margin:32px auto 0px auto; }
		#header_text {
			padding:10px 150px 0px 150px; margin: 0;
			font-family: 'Yanone Kaffeesatz', arial, serif; font-weight:300; font-size:15px; text-align:center; color:#8B5E3C; }
		#menu {
			margin:25px 0px 0px 0px;
			border-bottom:1px solid #8C694C; border-top:1px solid #8C694C; padding:7px 0px;
			font-family: 'Yanone Kaffeesatz', arial, serif; font-size: 20px; color:#3C2415; text-align:center; font-weight:400;
			a {
				text-decoration:none; color:#3C2415;}
			span {
				font-size:15px; padding:0px 10px;}
		}
	}
}

#main {
	@include column(21.26, true); margin:0px auto 0px auto; padding:20px 60px; 
	background: url($frontend-image-url+"back_container.png");
	color:#8B5E3C;
	p {
		margin: 1em 0;}
	#center{
		border-bottom:1px solid #8C694C;
		margin:0px 0px 10px 0px; padding:0px 0px 30px 0px;
		#icon_navigation {
			background:url($frontend-image-url+"web_sketch_v3.png") no-repeat; height:525px; font-family: 'Yanone Kaffeesatz', arial, serif;

			.navigation{
				@include border-radius(140px); @include box-shadow(#666, 2px, 2px, 6px); display:block;	text-decoration:none;	text-align:center; position:relative; font-weight:300;
				@include transition(transform, 0.5s, ease-in);
				a {
					color:#fcdd9a;}
			}
			.navigation:hover{
				a {display:inherit;}
			}
			
			/* LEFT ICON NAVIGATION */
			#left_icon_navigation {width:380px; height:525px; float:left; overflow:hidden; border:0px solid #000;
				div.navigation1 { font-size:23px; width:140px; height:26px; background:#FFB733; color:#fcdd9a; top:200px; left:160px; padding:56px 0px; }
				div.navigation1:hover {	@include transform(1.5,-10deg);	background:#000000; }

				div.navigation2 {font-size:23px; width:110px; height:26px; background:#596A63; color:#fcdd9a; top:220px; left:60px;  padding:43px 0px; }
				div.navigation2:hover {
					@include transform(1.2,10deg); background:#000000;}

				div.navigation3 {font-size:20px; width:90px; height:20px; background:#726658; color:#fcdd9a; top:-200px; left:110px;  padding:35px 0px; }
				div.navigation3:hover {
					@include transform(1.2,-20deg);	background:#000000;}

				div.navigation4 { font-size:20px; width:90px; height:20px; background:#C2C76C; color:#fcdd9a; top:-180px; left:30px;  padding:35px 0px; }
				div.navigation4:hover {@include transform(1.2,-20deg);	background:#000000;}	
			}

			/* HEAD GEAR WHEELS */
			#head_gear_wheels {
				width:180px; height:525px; float:left; overflow:hidden; border:0px solid #000;
				#kolecko1 {width:103px; height:103px; position:relative; top:125px; left:7px; background:url($frontend-image-url+"kolecko_01.png");
				@include spin_animation(5s, true);}
				#kolecko2 {width:62px; height:61px; position:relative; top:105px; left:85px; @include spin_animation(3s);}
				#kolecko3 {width:61px; height:60px; position:relative; top:-13px; left:113px; @include spin_animation(5s, true);}
				#kolecko4 {width:30px; height:30px; position:relative; top:-97px; left:103px;	@include spin_animation;}
			}

			/* RIGHT ICON NAVIGATION */
			#right_icon_navigation {
				width:350px; height:525px; float:left; overflow:hidden; border:0px solid #000;
				
				a {
						@include border-radius(140px); @include box-shadow(#666, 2px, 2px, 6px); display:block;	text-decoration:none;	text-align:center; position:relative; font-weight:300; }

				a.navigation5 {font-size:23px; width:140px; height:26px; background:#C49A6C; color:#fcdd9a; font-weight:300; top:300px; left:160px; padding:56px 0px; }
				a.navigation5:hover {@include transform(1.5,-10deg); background:#000000;}

				a.navigation6 {font-size:23px; width:110px; height:26px; background:#1CA099; color:#fcdd9a; font-weight:300; top:70px; left:30px; padding:43px 0px; }
				a.navigation6:hover {@include transform(1.2,10deg); background:#000000;}

				a.navigation7 {font-size:20px; width:90px; height:20px; background:#F57336; color:#fcdd9a; font-weight:300; top:-130px; left:220px; padding:35px 0px; }
				a.navigation7:hover {@include transform(1.2,-20deg); background:#000000;}

				a.navigation8 {font-size:20px; width:125px; height:26px; background:#C2B59B; color:#fcdd9a; font-weight:300; top:-305px; left:50px; padding:50px 0px; }
				a.navigation8:hover {@include transform(1.5,-10deg); background:#000000;}
			}
		}
	}
	#list_test {float:none; overflow:hidden; display:block;
		a,a:hover{color: #8B5E3C;};
		ul {float:left; overflow:hidden; width:173px; list-style:none; margin:0px 10px 30px 0px; padding:0px;}
		li {margin:0px 0px 3px 0px; font-size:13px;}
		.header {font-family: 'Yanone Kaffeesatz', arial, serif; font-weight:400; font-size:30px; color:#3C2415;}
	}
	#info_zone {
		@include column(21.26, true);
		border-bottom:0px solid #8C694C; padding:0; margin:0px 0px 10px 0px;
		.info {
			@include column(7.23, true); height:300px; margin:0px 20px 0px 0px;}
	}
	/* TEST HEADER */
	#test_header {
		font-family:'Yanone Kaffeesatz', arial, serif; font-weight:300; font-size:25px; color:#8B5E3C; text-align:left; margin:0px 0px 0px 0px; overflow:hidden; float:none;}
	#test_categories {
		float:left; overflow:hidden; border-right:1px solid #8B5E3C; padding:3px 15px 3px 0px;}
	#test_names {
		float:left; overflow:hidden; padding:3px 0px 3px 15px; color:#3C2415;}
	#question_meter {
		float:right; overflow:hidden; border:1px dashed #3C2415; padding:3px; @include border-radius(20px);
		.background {background:#ffffff; padding:3px; @include border-radius(20px);}
		.meter {color:#ffffff; background:#F57336; padding:4px 73px; @include border-radius(20px); font-family: Tahoma, Verdana, Geneva; font-size:12px;}
	}
	#question {font-family:Tahoma, Verdana, Geneva; font-size:20px; color:#3C2415; margin:50px 0px 20px 0px;}
	#answers {font-family:Tahoma, Verdana, Geneva; font-size:15px; color:#8B5E3C;
		li{margin: 15px 0;}}
	#sub_area {
		float:none; overflow:hidden; margin:40px 0px 0px 0px; font-size:14px;
		.skip_button {background:#3C2415; padding:10px 20px; color:#F2CA5C; font-size:14px; border:none; @include opacity(0.5); @include border-radius(3px);}
		.next_button {background:#3C2415; padding:10px 20px; color:#F2CA5C; font-size:14px; border:none; @include border-radius(3px);}
	}
	
	#vyhodnotenie {
		font-size:18px; color:#3C2415; margin:10px 0px 0px 0px; overflow:hidden; float:none;
		ol{float:none; overflow:hidden; margin:0px; padding:0px 0px 0px 30px; color:#3C2415;}
		li {margin:0px 0px 20px 0px; list-style:decimal;}
		.true {font-size:14px; color:#8B5E3C;}
		.question {display:block; float:none; overflow:hidden; width:500px;}
		a.more_info {
			font-size:11px; text-decoration:none;overflow:hidden; padding:3px 6px; color:#fcdd9a; background:#1CA099; @include opacity(0.7);float:none;
			@include border-radius(3px); }
		a.more_info:hover {@include opacity(1.0);}
		.test_name {text-align:center; font-size:16px; color:#8B5E3C; margin:0px 0px 30px 0px;}
		.point {float:right;}
	}
	
	#summary {
		display:block; border-top:1px dashed #8C694C; padding:20px 10px; margin:20px 0px 0px 0px; font-size:14px;
		.container_main {float:none; overflow:hidden; margin:0px; padding:0px;}
		.container {margin:0px 0px 20px 0px; float:none; overflow:hidden;}
		.evaluation {float:none; overflow:hidden; padding:20px 0px 20px 0px;}
		.buttons {margin:20px 0px 10px 0px; padding:10px 0px; text-align:left;}
		.buttons_soc {margin:30px 0px 10px 0px; padding:10px 0px; text-align:left;}
		.text {padding:30px 0px 0px 0px;}
		.question_true {background:#C2C76C; color:#FCDD9A; font-weight:bold; font-size:20px;  width:80px; margin:0px 10px 0px 0px; padding:27px 0px; float:left; text-align:center;  
			@include opacity(0.7); @include border-radius(50px);}
		.question_false {background:#F57336; color:#FCDD9A; font-weight:bold; font-size:20px;  width:80px; margin:0px 10px 0px 0px; padding:27px 0px; float:left; text-align:center;  
			@include opacity(0.7); @include border-radius(50px);}
		.per {background:#FFB733; color:#FCDD9A; font-weight:bold; font-size:20px;  width:80px; margin:0px 10px 0px 0px; padding:27px 0px; float:left; text-align:center;  
			@include opacity(0.7); @include border-radius(50px);}
		.name {color:#3C2415; font-weight:bold; font-size:14px;}
		a.testes {font-size:16px; text-decoration:none; overflow:hidden; margin:0px 10px 0px 0px; padding:20px 24px; color:#fcdd9a; background:#1CA099; 
			@include opacity(0.5); @include border-radius(3px);}
		a.testes:hover {@include opacity(1.0);}
		a.facebook {font-size:13px; text-decoration:none; overflow:hidden; margin:0px 10px 0px 0px; padding:6px 12px; color:#fcdd9a; background:#305c9a; 
			@include opacity(0.7); @include border-radius(3px);}
		a.facebook:hover {@include opacity(1.0);}
		a.twitter {font-size:13px; text-decoration:none; overflow:hidden; margin:0px 10px 0px 0px; padding:6px 12px; color:#fcdd9a; background:#00ceff; 
			@include opacity(0.5); @include border-radius(3px);}
		a.twitter:hover {@include opacity(1.0);}
	}
	
}
#bottom {
	@include column($blueprint-grid-columns, true); height:10px; margin:0px auto 10px auto; background:url($frontend-image-url+"bottom_container.png") repeat-x;
}
#footer { 
	@include column(11.66,true);
	margin:20px auto; padding: 0 270px;
	text-align:center; font-family: 'Yanone Kaffeesatz', arial, serif; font-weight:400; color:#ffffff; font-size:13px; opacity:0.5; -moz-opacity:0.5; filter:alpha(opacity=50); letter-spacing:1px;
}