@import "compass/css3";
@import "compass/utilities/tables";
@import "blueprint";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

h1, h2, h3, h4, h5, h6 {
  // Bold might not be the best choice if you are
  // embedding font faces that are already bold
  font-weight: bold;
}

strong, th {
  font-weight: bold;
}

small {
  // Use font-size mixin to convert to percentage for YUI
  // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
  @include font-size(11px);  // approx 85% when base-font-size eq 13px
}

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
  @include border-radius(1px);
  @include box-shadow(red, 0, 0, 5px, 0);
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


//-----------------------------------
// Add your own custom styles below
//-----------------------------------

/*@include blueprint-typography;*/

body {
/*	@include linear-gradient(color-stops(#d8d8d8, white));*/
	background: #d8d8d8;
}

#container {
	@include container;
	@include box-shadow;
	margin-bottom: 20px;
	margin-top: 10px;
}

header {
	color: white;
	background: #484848;
	a, a:active, a:visited {color: #ddd;}
	@include column($blueprint-grid-columns);
	#logo{
		padding: 10px 0 10px 20px;
		@include column($blueprint-grid-columns/2); }
	#usernav{
		@include column($blueprint-grid-columns/5); 
		padding: 20px;
		@include float-right;}
	#locale_switcher{
		@include column($blueprint-grid-columns/8, last); 
		padding: 20px;
		@include float-right;}
	#navigation{
		background: black;
		font-size:1.2em;
		@include column($blueprint-grid-columns); 
		li{
			padding: 5px;
			@include column($blueprint-grid-columns/8); }
	}
	h1 {
		font-size: 5em;	}
}

#main {
	background: #eee;
	padding: 20px;
	@include column($blueprint-grid-columns);
	.inline-errors{
		color: red;
		font-style: italic;
		font-size: 0.9em;
	}
	.formtastic {
		@include column($blueprint-grid-columns);
		ol {
			margin: 0;
			padding: 0;
		}
		li {
			margin-top: 10px;
		}
		label {
			@include column(5);
		}
		fieldset {
			margin-top: 10px;
			margin-bottom: 20px;
		}
		.question_details_container {
			@include column(11); /*11 out of 24 columns*/
			textarea {
				width: 440px;
			}
		}
		.answer_details_container{
			@include column(11, true);	/*11 out of 24 columns*/
			@include float-right;
			input[type='text'] {
				width: 300px;
			}
		}
		.quiz_details_container{
			@include column(11); /*11 out of 24 columns*/
		}
		.placement_comments_details_container {
			@include column(11, last); /*11 out of 24 columns*/
		}
	}
	table {
		td {
			padding:5px 15px; }
	}
	#error_explanation {
		@include column(15); 
		border: 2px solid red;
		background-color: #f0f0f0;
		
		h2 {
			text-align: left;
		  font-weight: bold;
		  padding: 5px 5px 5px 15px;
		  font-size: 12px;
		  margin-bottom: 0px;
		  background-color: #c00;
		  color: #fff;
		}
		ul li {
		  font-size: 12px;
		}
	}
	#flash {
		@include column($blueprint-grid-columns);	}
	h1{
		@include column($blueprint-grid-columns);
		font-size: 3em;
	}
}

footer { 
	background: white;
	@include column($blueprint-grid-columns, true); }