@-webkit-keyframes spin {
from {
	-webkit-transform: rotate(0deg); }

to {
	-webkit-transform: rotate(360deg); }
}
@-webkit-keyframes reverse-spin {
from {
	-webkit-transform: rotate(360deg); }

to {
	-webkit-transform: rotate(0deg); }
}
@mixin spin-animation($duration: 10s, $reverse: false){
	@if $reverse {-webkit-animation-name: reverse-spin;} @else {-webkit-animation-name: spin;}
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-webkit-animation-duration: $duration; }