= f.input :content, :input_html => {:rows => 3}
= f.input :_destroy, :as => :hidden
= f.commit_button 'Remove placement comment', :button_html => {:name => 'remove_placement_comment', :class => 'remove'} if index > 3