// First, set some default constants
@import "partials/base";

// Then we'll import the compass extension
@import "html5-boilerplate";

// Now you can choose to include the whole
// enchilada by uncommeting this line
/*@include html5-boilerplate;*/

// Or, you can pick and choose only the
// sections you want to include
//@include html5-boilerplate-reset;
//@include html5-boilerplate-fonts;
//@include html5-boilerplate-styles;
//@include html5-boilerplate-helpers;
//@include html5-boilerplate-media;

// Or else, you can import this partial if you
// want more controll over which mixins to use
@import "partials/example";

// Finally, put your own styles in this partial
@import "partials/frontend";

#fade { /*--Transparent background layer--*/
	display: none; /*--hidden by default--*/
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 9999;
}
.popup_block{
	display: none; /*--hidden by default--*/
	background: #fff;
	padding: 5px;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	@include box-shadow(#000, 0px, 0px, 20px);
	@include border-radius(5px);
}
.popup_navigation{
	border:1px dashed #3C2415;
	@include border-radius(5px);
	padding: 20px 30px;
	font-size:14px;
	ul {list-style:none; margin:20px 0px 0px 0px; padding:0px 0px 0px 0px; }
	li {margin:0px 0px 5px 0px;list-style:none;
		a{font-size:14px;color: #8B5E3C;}
	}
}
img.btn_close {
	float: right;
	margin: -20px -20px 0 0;
}
/*--Making IE6 Understand Fixed Positioning--*/
*html #fade {
	position: absolute;
}
*html .popup_block {
	position: absolute;
}
