%p.copyright Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec orci in odio consectetur laoreet vitae in nibh. Morbi in vehicula tellus. Cras ultrices rhoncus lacus, interdum cursus sapien volutpat aliquam. Vivamus viverra dui et leo congue pharetra elementum felis vestibulum.
= image_tag 'frontend/logo_AFP_biele.png'