%p.copyright=raw @footer_text
%p{:style => 'margin:13px 0;'}
	= link_to (image_tag 'frontend/logo_CEF_white.png'), 'http://www.cef.sk'
= link_to (image_tag 'frontend/logo_AFP_biele.png'), 'http://www.fair-play.sk'