-# CSS : implied media="all"
= stylesheet_link_tag 'compiled/frontend', :media => 'all'

-# Uncomment if you are specifically targeting less enabled mobile browsers
-#= stylesheet_link_tag 'handheld', :media => 'handheld'

-# Google fonts
= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz'
= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Copse'

-# Append your own using content_for :stylesheets
= yield :stylesheets